---
css_version: 1
js_version: 1
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title><% if (page.title) { %><%= page.title %> - <% } %>Rainmeter <%= base_title %></title>
	<link href="/css/main.css?v=<%= css_version %>" rel="stylesheet">
	<link rel="shortcut icon" href="//www.rainmeter.net/favicon.ico">
	<!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->
</head>
<body>
	<div id="wrapper">
		<div id="top">
			<div class="container">
				<a id="logo" href="//rainmeter.net/"></a>
				<nav id="nav">
					<ul>
					<li><a href="//www.rainmeter.net">Home</a>
					<li><a href="//www.rainmeter.net/about">About</a>
					<li><a href="/" class="active">Docs</a>
					<li><a href="//www.rainmeter.net/discover">Discover</a>
					<li><a href="//forum.rainmeter.net">Forum</a>
					</ul>
				</nav>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<%- body.replace(/<(.*?)(href|src)="!(.*?)"/g, '<$1$2="/' + base_name + '/$3"') %>
			</div>
		</div>

		<div id="footer-push"></div>
	</div>

	<script src="/js/main.js?v=<%= js_version %>"></script>
</body>
</html>
