<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title><% if (page.title) { %><%= page.title %> - <% } %>Rainmeter <%= base_title %></title>
	<link href="<%= rel(url, '/css/main.css') %>?3" rel="stylesheet">
	<link rel="shortcut icon" href="//rainmeter.net/favicon.ico">
	<!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->
</head>
<body>
	<div id="wrapper">
		<div id="top">
			<div class="container">
				<a id="logo" href="//rainmeter.net/"></a>
				<nav id="nav">
					<ul>
					<li><a href="//rainmeter.net">Home</a>
					<li><a href="//rainmeter.net/about">About</a>
					<li><a href="/" class="active">Docs</a>
					<li><a href="//rainmeter.net/discover">Discover</a>
					<li><a href="//rainmeter.net/forum">Forum</a>
					</ul>
				</nav>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<%- body.replace(/<(.*?)(href|src)="!(.*?)"/g, '<$1$2="/' + base_name + '/$3"') %>
			</div>
		</div>

		<div id="footer-push"></div>
		<footer>
			<div class="container">
				Hosting provided by <a href="http://osirisdevelopment.com/">Osiris Development</a> &mdash; <a href="http://batterybarpro.com/">BatteryBar</a>, the best battery life tracker.
			</div>
		</footer>
	</div>

	<script src="<%= rel(url, '/js/main.js') %>?3"></script>
</body>
</html>