<div id="side-content">
	<h1 id="category"><a href="/<%= base_name %>"><%= base_title %></a></h1>

	<form id="search-form" method="get" action="http://www.google.com/search">
		<input name="sitesearch" value="docs.rainmeter.net" type="hidden">
		<input id="search" name="q" maxlength="255" size="16" placeholder="Search" type="text">
	</form>

	<nav id="tree">
		<%- base_nav.replace(/<(.*?)(href|src)="!(.*?)"/g, '<$1$2="/' + base_name + '/$3"') %>
	</nav>
</div>
<div id="content">
	<header>
		<h1><%= page.title %></h1>
	</header>
	<article><%- page.content %></article>
</div>